---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Button">
	<main>
		<button type="button" class="link-button">
			Click Me!
		</button>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		box-sizing: border-box;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.link-button {
		width: 20rem;
		height: 20rem;
	}
</style>
