---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Button">
	<main class="m-auto box-border h-screen">
		<div class="flex justify-center items-center h-screen box-border">
			<button type="button" class="box-content text-xl bg-green-400 hover:bg-red-400 h-8 p-4 rounded-xl">
				Click Me!
			</button>
		</div>
	</main>
</Layout>
