---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Button">
	<main class="m-auto box-border h-screen  ">
		<div class="flex flex-col justify-center items-center h-screen box-border">
			<div 
				id="notification" 
				class="hidden p-2 text-xl">
				Assignment completed.
			</div>
			<button 
				id='button' 
				type="button" 
				onclick="button.style.display='none'; notification.style.display='block';" 
				class="box-content text-xl h-8 p-4 rounded-xl border-4 border-purple-400 hover:border-orange-500"
			>
				Click Me!
			</button>
		</div>
	</main>
</Layout>